In [1]:
pip install scipy
pip install oct2py

SyntaxError: invalid syntax (3964808206.py, line 1)

In [3]:
import pandas as pd
from scipy import stats

In [4]:
df=pd.read_csv('/Users/dylanbai/Desktop/Data Science/Assignments/experiment_dataset.csv')

In [5]:
print(df.head())
print(df.info())

   Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0           0   62  Location2  Device2    Control   13.928669  0.084776
1           1   18  Location1  Device1  Variant B   11.310518  0.096859
2           2   21  Location2  Device1  Variant B   24.842100  0.097630
3           3   21  Location1  Device3  Variant B   20.061300  0.109783
4           4   57  Location1  Device2  Variant B   34.495503  0.068579
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Age         1000 non-null   int64
 2   Location    1000 non-null   object
 3   Device      1000 non-null   object
 4   Variant     1000 non-null   object
 5   Time Spent  1000 non-null   float64
 6   CTR         1000 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 54.8+ KB
None

In [6]:
# to see if there is missing value.
print(df.isnull().sum())

Unnamed: 0    0
Age           0
Location      0
Device        0
Variant       0
Time Spent    0
CTR           0
dtype: int64

In [7]:
# drop the duplicates to clean data
df.drop_duplicates()

     Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0             0   62  Location2  Device2    Control   13.928669  0.084776
1             1   18  Location1  Device1  Variant B   11.310518  0.096859
2             2   21  Location2  Device1  Variant B   24.842100  0.097630
3             3   21  Location1  Device3  Variant B   20.061300  0.109783
4             4   57  Location1  Device2  Variant B   34.495503  0.068579
..          ...  ...        ...      ...        ...         ...       ...
995         995   39  Location2  Device2  Variant B   17.252030  0.092211
996         996   38  Location3  Device2    Control   30.075898  0.078151
997         997   60  Location2  Device3    Control   31.929223  0.125213
998         998   35  Location2  Device2  Variant B   14.680299  0.095423
999         999   55  Location1  Device1  Variant B   25.803169  0.166688

[1000 rows x 7 columns]

In [8]:
#For Q1,we should check all the features whether has any significant impacts on the lift of CTR or Time-spend.

In [10]:
#By location
df.groupby('Location')[['CTR','Time Spent']].mean()

                CTR  Time Spent
Location
Location1  0.110217   22.707286
Location2  0.108517   22.648998
Location3  0.108708   22.787691

In [11]:
#use the ANOVA test to validate the features.
#check the CTR
loc_1=df[df['Location']=='Location1']['CTR']
loc_2=df[df['Location']=='Location2']['CTR']
loc_3=df[df['Location']=='Location3']['CTR']
p_value=stats.f_oneway(loc_1,loc_2,loc_3)
print(p_value)

F_onewayResult(statistic=0.5792245145655729, pvalue=0.5605211716238133)

In [12]:
# check the Time spent
loc_1=df[df['Location']=='Location1']['Time Spent']
loc_2=df[df['Location']=='Location2']['Time Spent']
loc_3=df[df['Location']=='Location3']['Time Spent']
p_value=stats.f_oneway(loc_1,loc_2,loc_3)
print(p_value)

F_onewayResult(statistic=0.053578839670573676, pvalue=0.9478339402848069)

In [13]:
#for all the locations, it seems that the CTR and Time spent don't change much. 
#And let's do the next features 'Device'.
df.groupby('Device')[['CTR','Time Spent']].mean()

              CTR  Time Spent
Device
Device1  0.109634   22.635032
Device2  0.109868   22.890021
Device3  0.107993   22.612276

In [14]:
# let's do the ANOVA test for the 'Device' of the CTR
loc_1=df[df['Device']== 'Device1']['CTR']
loc_2=df[df['Device']== 'Device2']['CTR']
loc_3=df[df['Device']== 'Device3']['CTR']
p_value=stats.f_oneway(loc_1,loc_2,loc_3)
print(p_value)

F_onewayResult(statistic=0.7105872492654717, pvalue=0.4916042399968955)

In [15]:
# ANOVA test of the time spent
loc_1=df[df['Device']=='Device1']['Time Spent']
loc_2=df[df['Device']=='Device2']['Time Spent']
loc_3=df[df['Device']=='Device3']['Time Spent']
p_value=stats.f_oneway(loc_1,loc_2,loc_3)
print(p_value)

F_onewayResult(statistic=0.26645371811833884, pvalue=0.7661459958744103)

In [16]:
#then lets do the same thing to 'Age'
df.groupby('Age')[['CTR','Time Spent']].mean()

          CTR  Time Spent
Age
18   0.104431   21.805160
19   0.113928   24.301099
20   0.106769   22.658484
21   0.106317   23.174444
22   0.111566   23.339777
23   0.111024   21.203465
24   0.109765   21.505956
25   0.109907   23.541231
26   0.110061   22.598906
27   0.105247   21.729390
28   0.103960   21.807757
29   0.100519   24.299111
30   0.106659   23.432915
31   0.104464   21.989786
32   0.112993   22.346828
33   0.114898   24.616644
34   0.106876   22.385361
35   0.111845   21.581871
36   0.107217   22.879286
37   0.120952   20.809576
38   0.117152   25.301273
39   0.105070   22.893486
40   0.121210   21.684611
41   0.110276   24.134836
42   0.113295   24.833502
43   0.106507   21.289182
44   0.106827   23.023596
45   0.099483   22.468996
46   0.110406   22.938505
47   0.119617   21.702336
48   0.108007   22.503268
49   0.115586   25.031848
50   0.104252   24.264450
51   0.106918   22.599297
52   0.106556   21.631632
53   0.107413   20.838519
54   0.108838   23.340736
55   0.108426   23.145363
56   0.109381   21.172350
57   0.106884   23.608306
58   0.107542   21.206153
59   0.106319   20.797435
60   0.114229   21.909116
61   0.105097   24.839548
62   0.111154   23.215577
63   0.111595   23.439610
64   0.105848   23.264560

In [18]:
# first we should group the 'Age' column
df['Age_group']=pd.cut(df['Age'],bins=[18,35,51,64],labels=['18-35','36-51','52-64'])
print (df)

     Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0             0   62  Location2  Device2    Control   13.928669  0.084776  \
1             1   18  Location1  Device1  Variant B   11.310518  0.096859
2             2   21  Location2  Device1  Variant B   24.842100  0.097630
3             3   21  Location1  Device3  Variant B   20.061300  0.109783
4             4   57  Location1  Device2  Variant B   34.495503  0.068579
..          ...  ...        ...      ...        ...         ...       ...
995         995   39  Location2  Device2  Variant B   17.252030  0.092211
996         996   38  Location3  Device2    Control   30.075898  0.078151
997         997   60  Location2  Device3    Control   31.929223  0.125213
998         998   35  Location2  Device2  Variant B   14.680299  0.095423
999         999   55  Location1  Device1  Variant B   25.803169  0.166688

    Age_group
0       52-64
1         NaN
2       18-35
3       18-35
4       52-64
..        ...
995     36-51
996     36-51
997     52-64
998     18-35
999     52-64

[1000 rows x 8 columns]

In [19]:
# ANOVA test of the age_group
loc_1=df[df['Age_group']=='18-35']['CTR']
loc_2=df[df['Age_group']=='36-51']['CTR']
loc_3=df[df['Age_group']=='52-64']['CTR']
p_value=stats.f_oneway(loc_1,loc_2,loc_3)
print(p_value)

F_onewayResult(statistic=1.2969300167643383, pvalue=0.27384237597226063)

In [20]:
# ANOVA test of the time spent
loc_1=df[df['Age_group']=='18-35']['Time Spent']
loc_2=df[df['Age_group']=='36-51']['Time Spent']
loc_3=df[df['Age_group']=='52-64']['Time Spent']
p_value=stats.f_oneway(loc_1,loc_2,loc_3)
print(p_value)

F_onewayResult(statistic=0.7392401494810702, pvalue=0.47774483794897427)

In [ ]:
#so it seems that all the 'Location' , 'Device' and 'Age' features have no impact on the  lift of CTR or Time spent.

In [ ]:
#calculate the lift in CTR and Time spent for each variant.
control_group=df[df['Variant']== 'Control']
V_A=df[df['Variant']=='Variant A']
V_B= df[df['Variant']=='Variant B']

In [ ]:
ctr_lift_a = V_A['CTR'].mean()- control_group['CTR'].mean()
ctr_lift_b = V_B['CTR'].mean()- control_group['CTR'].mean()

time_spent_a=V_A['Time Spent'].mean()-control_group['Time Spent'].mean()
time_spent_b=V_B['Time Spent'].mean()-control_group['Time Spent'].mean()

print('ctr_lift_a')
print(ctr_lift_a)
print('ctr_lift_b')
print(ctr_lift_b)
print('time_spent_a')
print(time_spent_a)
print('time_spent_b')
print(time_spent_b)

ctr_lift_a
0.021715340138027603
ctr_lift_b
0.010378887088416652
time_spent_a
4.734766375399197
time_spent_b
3.27300196805772

In [ ]:
# it seems that both variants have results in CTR & Time spent lift. But variant A has more contributions.

In [ ]:
# For Q2, let's use the T-test for the CTR & Time spent to do the statistical testing.
_,p_value_ctr_a=stats.ttest_ind(V_A['CTR'],control_group['CTR'],equal_var=False)
_,p_value_ctr_b=stats.ttest_ind(V_B['CTR'],control_group['CTR'],equal_var=False)

_,p_value_ts_a=stats.ttest_ind(V_A['Time Spent'],control_group['Time Spent'],equal_var=False)
_,p_value_ts_b=stats.ttest_ind(V_B['Time Spent'],control_group['Time Spent'],equal_var=False)

print('p_value_ctr_a')
print(p_value_ctr_a)
print('p_value_ctr_b')
print(p_value_ctr_b)
print('p_value_ts_a')
print(p_value_ts_a)
print('p_value_ts_b')
print(p_value_ts_b)

p_value_ctr_a
1.8747864406075706e-38
p_value_ctr_b
1.9031079498118827e-10
p_value_ts_a
8.013568462760725e-31
p_value_ts_b
1.5337801295717444e-15

In [ ]:
# For Q3:
# from the results，all the p values are less than 0.05，so we can draw a conclusion that in terms of CTR & Time spent, there is a siginificant difference between control group and variant group.
# And the CTR p value of Variant A is less than the one of Variant B，indicating that Variant A contrubute more to the lift of CTR.
# And the Time spent p value of Variant B is less than the one of Variant A, indicating that the impact of Variant B is more significant.
# So I will recommend the team to deploy the Variant A for CTR lift and Variant B for Time spent lift.

In [ ]:
# For Q4:
# 1:Start by deploying Variant A for CTR to a small portion of the audience, such as a representative sample or a specific region. 
# 2:Analyze the data collected from the small-scale deployment to evaluate the effectiveness of Variant A in improving CTR. 
# 3:If the results from the small-scale deployment are promising, gradually expand the deployment of Variant A to a larger portion of the audience. Continue collecting feedback.
# 4:Start deploying Variant B for Time Spent to a small portion of the audience. Follow a similar approach as in step 1 and 2 to evaluate the impact and gather feedback.
# 5:Gradually expand Variant B deployment, based on the results and feedback from the small-scale deployment of Variant B.
# 6:Continuously monitor the performance and user feedback for both variants. Make necessary optimizations and improvements based on the collected data and user insights.