In [10]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in /Users/dylanbai/Library/Python/3.9/lib/python/site-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /Users/dylanbai/Library/Python/3.9/lib/python/site-packages (from scipy) (1.24.3)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
from scipy import stats

In [12]:
df=pd.read_csv('/Users/dylanbai/Desktop/Data Science/Assignments/experiment_dataset.csv')

In [16]:
print(df.head())
print(df.info())

   Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0           0   62  Location2  Device2    Control   13.928669  0.084776
1           1   18  Location1  Device1  Variant B   11.310518  0.096859
2           2   21  Location2  Device1  Variant B   24.842100  0.097630
3           3   21  Location1  Device3  Variant B   20.061300  0.109783
4           4   57  Location1  Device2  Variant B   34.495503  0.068579
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Age         1000 non-null   int64
 2   Location    1000 non-null   object
 3   Device      1000 non-null   object
 4   Variant     1000 non-null   object
 5   Time Spent  1000 non-null   float64
 6   CTR         1000 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 54.8+ KB
None

In [14]:
# to see if there is missing value.
print(df.isnull().sum())

Unnamed: 0    0
Age           0
Location      0
Device        0
Variant       0
Time Spent    0
CTR           0
dtype: int64

In [15]:
# drop the duplicates to clean data
df.drop_duplicates()

     Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0             0   62  Location2  Device2    Control   13.928669  0.084776
1             1   18  Location1  Device1  Variant B   11.310518  0.096859
2             2   21  Location2  Device1  Variant B   24.842100  0.097630
3             3   21  Location1  Device3  Variant B   20.061300  0.109783
4             4   57  Location1  Device2  Variant B   34.495503  0.068579
..          ...  ...        ...      ...        ...         ...       ...
995         995   39  Location2  Device2  Variant B   17.252030  0.092211
996         996   38  Location3  Device2    Control   30.075898  0.078151
997         997   60  Location2  Device3    Control   31.929223  0.125213
998         998   35  Location2  Device2  Variant B   14.680299  0.095423
999         999   55  Location1  Device1  Variant B   25.803169  0.166688

[1000 rows x 7 columns]

In [ ]:
# For Q1, let's make a null hypothesis :there is no statistically significant differnce in CTR or Time spent at Variant group.

In [17]:
#calculate the lift in CTR and Time spent for each variant.
control_group=df[df['Variant']== 'Control']
V_A=df[df['Variant']=='Variant A']
V_B= df[df['Variant']=='Variant B']

In [23]:
ctr_lift_a = V_A['CTR'].mean()- control_group['CTR'].mean()
ctr_lift_b = V_B['CTR'].mean()- control_group['CTR'].mean()

time_spent_a=V_A['Time Spent'].mean()-control_group['Time Spent'].mean()
time_spent_b=V_B['Time Spent'].mean()-control_group['Time Spent'].mean()

print('ctr_lift_a')
print(ctr_lift_a)
print('ctr_lift_b')
print(ctr_lift_b)
print('time_spent_a')
print(time_spent_a)
print('time_spent_b')
print(time_spent_b)

ctr_lift_a
0.021715340138027603
ctr_lift_b
0.010378887088416652
time_spent_a
4.734766375399197
time_spent_b
3.27300196805772

In [ ]:
# it seems that both variants have results in CTR & Time spent lift. But variant A has more contributions.

In [27]:
# For Q2, let's use the T-test for the CTR & Time spent to do the statistical testing.
_,p_value_ctr_a=stats.ttest_ind(V_A['CTR'],control_group['CTR'],equal_var=False)
_,p_value_ctr_b=stats.ttest_ind(V_B['CTR'],control_group['CTR'],equal_var=False)

_,p_value_ts_a=stats.ttest_ind(V_A['Time Spent'],control_group['Time Spent'],equal_var=False)
_,p_value_ts_b=stats.ttest_ind(V_B['Time Spent'],control_group['Time Spent'],equal_var=False)

print('p_value_ctr_a')
print(p_value_ctr_a)
print('p_value_ctr_b')
print(p_value_ctr_b)
print('p_value_ts_a')
print(p_value_ts_a)
print('p_value_ts_b')
print(p_value_ts_b)

p_value_ctr_a
1.8747864406075706e-38
p_value_ctr_b
1.9031079498118827e-10
p_value_ts_a
8.013568462760725e-31
p_value_ts_b
1.5337801295717444e-15

In [ ]:
# For Q3:
# from the results，all the p values are less than 0.05，so we can draw a conclusion that in terms of CTR & Time spent, there is a siginificant difference between control group and variant group.
# And the CTR p value of Variant A is less than the one of Variant B，indicating that Variant A contrubute more to the lift of CTR.
# And the Time spent p value of Variant B is less than the one of Variant A, indicating that the impact of Variant B is more significant.
# So I will recommend the team to deploy the Variant A for CTR lift and Variant B for Time spent lift.

In [ ]:
# For Q4:
# 1:Start by deploying Variant A for CTR to a small portion of the audience, such as a representative sample or a specific region. 
# 2:Analyze the data collected from the small-scale deployment to evaluate the effectiveness of Variant A in improving CTR. 
# 3:If the results from the small-scale deployment are promising, gradually expand the deployment of Variant A to a larger portion of the audience. Continue collecting feedback.
# 4:Start deploying Variant B for Time Spent to a small portion of the audience. Follow a similar approach as in step 1 and 2 to evaluate the impact and gather feedback.
# 5:Gradually expand Variant B deployment, based on the results and feedback from the small-scale deployment of Variant B.
# 6:Continuously monitor the performance and user feedback for both variants. Make necessary optimizations and improvements based on the collected data and user insights.