In [41]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /Users/dylanbai/Library/Python/3.9/lib/python/site-packages (2.0.19)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/dylanbai/Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (4.5.0)
WARNING: You are using pip version 21.2.4; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [42]:
pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in /Users/dylanbai/Library/Python/3.9/lib/python/site-packages (2.9.7)
WARNING: You are using pip version 21.2.4; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [43]:
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine
from sqlalchemy import text

In [44]:
db_secret = {
    'drivername': 'postgresql+psycopg2',
    'host':'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port':'5432',
    'user':'cindycai',
    'password':'2023!Schulich',
    'database':'mban_db'
    
}

In [45]:
db_connection_url = sa.engine.URL.create(
    drivername= db_secret['drivername'],
    username= db_secret['user'],
    password= db_secret['password'],
    host= db_secret['host'],
    port= db_secret['port'],
    database= db_secret['database']
    
)

In [46]:
engine = sa.create_engine(db_connection_url)

In [47]:
with engine.connect() as connection:
    data=pd.read_sql(sql='SELECT * FROM dimensions.date_dimension;',con=connection)

In [48]:
db_secret = {
    'drivername': 'postgresql+psycopg2',
    'host':'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port':'5432',
    'user':'cindycai',
    'password':'2023!Schulich',
    'database':'cindycai_db'
    
}

In [49]:
db_connection_url = sa.engine.URL.create(
    drivername= db_secret['drivername'],
    username= db_secret['user'],
    password= db_secret['password'],
    host= db_secret['host'],
    port= db_secret['port'],
    database= db_secret['database'])

In [50]:
engine = sa.create_engine(db_connection_url)

In [55]:
create_table_query=sa.text('''
CREATE TABLE IF NOT EXISTS final_exam.date_dimension(
   sk_date INT,
   date DATE,
   day_name VARCHAR(25),
   day_of_month INT,
   day_of_year INT,
   month INT,
   month_name VARCHAR(25),
   year INT,
   year_week VARCHAR(25),
   week VARCHAR(25),
   running_week INT,
   year_quarter VARCHAR(25),
   quarter VARCHAR(25),
   running_quarter INT
);
''')

with engine.connect() as connection:
    connection.execute (sa.text('CREATE SCHEMA IF NOT EXISTS final_exam'))
    connection.execute(create_table_query)

In [57]:
data.to_sql(
   name='date_dimension',
   schema='final_exam',
   con=engine,
   if_exists='replace',
    index=False,
    method='multi',
    dtype={
        'sk_date':sa.types.INTEGER,
        'date':sa.types.DATE,
        'day_name': sa.types.VARCHAR(25),
        'day_of_month':sa.types.INTEGER,
        'day_of_year':sa.types.INTEGER,
        'month':sa.types.INTEGER,
'month_name':sa.types.VARCHAR(25),
'year': sa.types.INTEGER,
'year_week':sa.types.VARCHAR(25),
'week': sa.types.VARCHAR(25),
'running_week':sa.types.INTEGER,
'year_quarter': sa.types.VARCHAR(25),
'quarter': sa.types.VARCHAR(25),
'running_quarter': sa.types.INTEGER
    }
)

1826