In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_curve, auc, precision_recall_curve
from imblearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import plot_tree
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix
import time # to measure how long the models take
from sklearn import datasets
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, BaggingClassifier, VotingClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, precision_recall_curve

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import GridSearchCV

In [3]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 3.2 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
WARNING: You are using pip version 21.2.4; however, version 23.3 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [4]:
df=pd.read_excel('/Users/dylanbai/Desktop/Tableau/assignment/ttc-subway-delay-data-2022.xlsx')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19895 entries, 0 to 19894
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       19895 non-null  datetime64[ns]
 1   Time       19895 non-null  object
 2   Day        19895 non-null  object
 3   Station    19895 non-null  object
 4   Code       19895 non-null  object
 5   Min Delay  19895 non-null  int64
 6   Min Gap    19895 non-null  int64
 7   Bound      14349 non-null  object
 8   Line       19856 non-null  object
 9   Vehicle    19895 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 1.5+ MB

In [6]:
df.head()

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle
0,2022-01-01,15:59,Saturday,LAWRENCE EAST STATION,SRDP,0,0,N,SRT,3023
1,2022-01-01,02:23,Saturday,SPADINA BD STATION,MUIS,0,0,NaN,BD,0
2,2022-01-01,22:00,Saturday,KENNEDY SRT STATION TO,MRO,0,0,NaN,SRT,0
3,2022-01-01,02:28,Saturday,VAUGHAN MC STATION,MUIS,0,0,NaN,YU,0
4,2022-01-01,02:34,Saturday,EGLINTON STATION,MUATC,0,0,S,YU,5981

In [9]:
df_cleaned = df.dropna()

In [10]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14344 entries, 0 to 19894
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       14344 non-null  datetime64[ns]
 1   Time       14344 non-null  object
 2   Day        14344 non-null  object
 3   Station    14344 non-null  object
 4   Code       14344 non-null  object
 5   Min Delay  14344 non-null  int64
 6   Min Gap    14344 non-null  int64
 7   Bound      14344 non-null  object
 8   Line       14344 non-null  object
 9   Vehicle    14344 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 1.2+ MB

In [11]:
df_cleaned.describe()

                                Date     Min Delay       Min Gap       Vehicle
count                          14344  14344.000000  14344.000000  14344.000000
mean   2022-06-27 10:50:43.837144576      4.998397      7.278374   4911.942066
min              2022-01-01 00:00:00      0.000000      0.000000      0.000000
25%              2022-03-26 00:00:00      0.000000      0.000000   5120.000000
50%              2022-06-24 00:00:00      3.000000      6.000000   5471.000000
75%              2022-09-28 00:00:00      5.000000     10.000000   5831.000000
max              2022-12-31 00:00:00    458.000000    463.000000   8803.000000
std                              NaN     13.135840     13.664421   1747.184326

In [ ]:
df_cleaned.to_csv('/Users/dylanbai/Desktop/Tableau/assignment/TTC_cleaned_data.csv', index=False)